* {
    box-sizing: border-box;
}

body {
    margin: 0;
}


h1 {
    font-size: 2rem;
    margin-top: 0;
}

h4 {
    font-size: 1.3rem;
}

ul {
    list-style: none;
    padding-left: 0;
}


nav {
    background-color: #021526;
    padding: 1rem;
    justify-content: space-around;
}

nav > a {
    background-color: #6EACDA;
    padding: 1rem;
    border-radius: 0.25rem;
    display: inline-block;
    text-decoration: none;
    color: #E2E2B6;
    margin-right: 1rem;
    transition-duration: 250ms;
    transition-property: color, background-color;
    transition-timing-function: ease;
    justify-content: center;
}

nav > a:hover {
    color: #03346E;
    background-color: #E2E2B6;
}

nav > h3 > a:hover {
    color: #03346E;
    background-color: #7090a9;
}

nav > a.active {
    background-color: #03346E;
    color: #E2E2B6;
}

nav > h3 > a {
    background-color: #03346E;
    padding: 1rem;
    border-radius: 0.25rem;
    display: inline-block;
    text-decoration: none;
    color: #E2E2B6;
    margin-right: 1rem;
    transition-duration: 250ms;
    transition-property: color, background-color;
    transition-timing-function: ease;
}




/* IDs */
#content {
    width: 90vw;
    margin: 1rem auto;
    padding: 1rem;
}

/* Classes */
.flex-parent {
    display: flex;
    flex-flow: row wrap;
}

.main-content {
    width: 60%;
    border: solid 1px black;
    padding: 1rem;
    justify-content: center;
}


.footer-content {
    width: 20vw;
    flex-flow: row wrap;
    padding: 1rem;
    color: white;
    justify-content: space-between;
    align-content: space-between;
    margin: 0 auto;
}



.footer {
    background-color: black;
    max-height: 500px;
    position: absolute;
    width:100%;
    bottom:0px;
  }

.copyright {
    width: 50%;
    align-items: start;
    padding: 1rem;
    color: white;
}

