* {
    box-sizing: border-box;
}

body {
    background-color: #333434;
    margin: 0;
}

main > section > article > h1 {
    font-size: 2rem;
    margin-top: 0;
}

h4 {
    font-size: 1.3rem;
    padding: 0;
    margin: 0;
}


ul {
    list-style: none;
    padding-left: 0;
}

dl > dt, dl > dd {
    list-style: none;
    margin: auto;
}

nav {
    background-color: #021526;
    padding: 1rem;
    text-align: center;
    position: sticky center;
}



nav > a, nav > h1 > a{
    background-color: #03346E;
    padding: 1rem;
    border-radius: 0.25rem;
    display: inline-block;
    text-decoration: none;
    color: #E2E2B6;
    margin-right: 1rem;
    transition: color 250ms ease, background-color 250ms ease;
}

nav > a:hover, nav > h1 > a:hover {
    color: #03346E;
    background-color: #E2E2B6;
}

main > section > figure > p {
    color: white;
    padding: 0.2rem 0.2rem;
}


nav > a.active, nav > h1 > a.active{
    background-color:#E2E2B6;
    color: #03346E;
}

input {
    margin-top: 0;
    padding: 0.5rem;
    justify-content: center;
}

 label {
    padding: 0.5rem;
    margin-left: 0;
 }

section > figure > a {
    background-color: black;
    padding: 1rem;
    border-radius: 0.25rem;
    display: inline-block;
    text-decoration: none;
    color: white;
    margin: 0;
    transition: color 250ms ease,  250ms ease;
    justify-content: center;

}

/* IDs */


/* Classes */
.flex-parent {
    display: flex;
    flex-flow: row;
    justify-content: center;
}


.main-content {
    width: 100%;
    max-width: 40vw;
    background-color: white;
    border: solid 6px #03346E;
    padding: 0.5rem;
    margin: auto;
    margin-top: 0.5rem;
    margin-bottom: 5rem;
    justify-content: center;
    align-items: center; 
    text-align: center;
}


.footer-content {
    width: 20vw;
    flex-flow: row wrap;
    padding: 1rem;
    color: white;
    justify-content: space-between;
    align-content: space-between;
    margin: 0 auto;
}


.footer {
    background-color: black;
    max-height: 500px;
    width: 100%;
    bottom: 0px;
}

.copyright {
    width: 50%;
    align-items: start;
    padding: 1rem;
    color: white;
}

.nav-head {
    justify-content: left;
}

.house {
    width: 100%;
    max-width: 80vw;
    height: auto;
    margin: auto;
    position: relative;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.info-box {
    background-color: darkgray;
    width: 25vw;
    height: 50vh;
    padding: 0.2rem 0.5rem;
    border-radius: 0.4rem;
    display: flex;
    flex-flow: column;
    justify-content: flex-start space-between;
    margin-bottom: 5rem;
}

.map {
    width: 100%;
    max-width: 40vw;
    height: 40vh;
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 5rem;
}

.tech-main {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 300;
    height: auto;
    margin: auto;
    margin-top: 10px;
    padding: 0.2rem 0.2rem;
}

.tech-img {
    display: flex;
    flex-flow: column wrap;
    margin: auto;
    height: auto;
    width: 500px;
    margin-top: 10px;
}
